.h1-tag {
    position: absolute;
    top:-1000px;
}
.clearfix {
    float: none;
    clear: both;
}
.caroufredsel_wrapper {
    width: auto!important;
}
.last-item, .last-item img {
    margin: auto 0px !important;
}

.transition-all {
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.movie-item img, .pcb-tooltip-middle img {
    background-image: url('/images/loading-icon.gif');
    background-position: center 65px;
    background-repeat: no-repeat;
    background-color: rgba(42, 140, 131, 0.19);
    background-size: 70%;
}

.box-shadow {
    -webkit-box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.75);
}
.grid {
    margin: 40px 0px 15px!important;
    height: 1.2px;
    position: relative;
    background: #9E9E9E;
}
.grid span {
    top: -1px;
    right: 0;
    display: block;
    height: 3px;
    margin: 0;
    width: 150px;
    background-color: #607D8B;
    position: absolute;
}
/*.image-zoom img {
    -webkit-transition: all 0.3s ease; /!* Safari and Chrome *!/
    -moz-transition: all 0.3s ease; /!* Firefox *!/
    -ms-transition: all 0.3s ease; /!* IE 9 *!/
    -o-transition: all 0.3s ease; /!* Opera *!/
    transition: all 0.3s ease;
}

.image-zoom img:hover {
    -webkit-transform: scale(1.05); /!* Safari and Chrome *!/
    -moz-transform: scale(1.05); /!* Firefox *!/
    -ms-transform: scale(1.05); /!* IE 9 *!/
    -o-transform: scale(1.05); /!* Opera *!/
    transform: scale(1.05);
}*/
/* Let's get this party started */

::-webkit-scrollbar {
    width: 12px;
    height: 9px;
}

::-webkit-scrollbar-thumb {
    border-left-color: #8e8e8e;
    background: #770a02;
}

::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:active {
    border-left-color: #222;
    background: #222;
}

::-webkit-scrollbar-track {
    border-left-color: #4E4C4C;
    background: #4E4C4C;
    -webkit-box-shadow: inset 0 0 1px #434343;
}

.rotate-90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotate-180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.rotate-270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

.circle {
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
}

.radius-5px {
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

.radius-200px {
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
}

.radius-top-bottom-200px {
    border-radius: 200px 0px 0px 200px;
    -moz-border-radius: 200px 0px 0px 200px;
    -webkit-border-radius: 200px 0px 0px 200px;
}

.shadow {
    -webkit-box-shadow: rgba(0, 0, 0, 0.498039) 1px 1px 6px;
    -moz-box-shadow: rgba(0, 0, 0, 0.498039) 1px 1px 6px;
    box-shadow: rgba(0, 0, 0, 0.498039) 1px 1px 6px;
}

.pcb-num {
    color: #FFEB3B;
}

.pcb-tooltip {
    display: none;
}

#tooltip-holder {
    display: none;
    position: absolute;
    z-index: 3;
    background: #f8f5f5;
    color: #808080;
    width: 400px;
    padding: 10px;
    font-size: 13px;
}

#tooltip-arrow {
    width: 17px;
    height: 27px;
    background: url('/images/arrowleft.png');
    position: absolute;
    top: -22px;
}

#tooltip-holder .pcb-tooltip-top {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
}

#tooltip-holder .pcb-tooltip-top div div:nth-child(4){
    overflow-y: auto;
    height: 17px;
}

#tooltip-holder .pcb-tooltip-top h3{
    font-weight: bold;
    color: #536689;
    margin-bottom: 5px;
}

#tooltip-holder .pcb-tooltip-top div {
    line-height: 22px;
}

#tooltip-holder .pcb-tooltip-middle {
    padding-top: 10px;
    border-top: 1px solid #fff;
    color: #607d8b;
    text-align: justify;
    max-height: 250px;
    overflow-y: auto;
    padding-right: 10px;
    font-size: 13px;
    line-height: 20px;
}

#tooltip-holder .pcb-tooltip-middle .tab {
    margin-top: 8px;
    max-height: 200px;
    overflow: auto;
    padding-right: 5px;
}

#tooltip-holder .pcb-tooltip-middle .tab h3 {
    display: none;
}

#tooltip-holder .pcb-tooltip-middle h3 {
    color: rgb(0, 37, 66);
    font-weight: bold;
}

.pcb-tooltip-bottom {
    margin-top: 5px;
    padding-top: 5px;
}

#tooltip-holder a {
    color: #4e626b;
    font-size: 11px;
    font-weight: bold;
    text-decoration: underline;
    margin-right: 5px;
}

#tooltip-holder img {
    width: 100% !important;
    height: auto !important;
    min-height: 200px;
    margin-top: 10px;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font: 12px 'Open Sans', Helvetica, Arial, sans-serif;
    background: url("/images/pcb-background.gif") #232323;
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

h3 {
    font-weight: normal;
}

a {
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    font-family: "Arial";
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.horizontal-center-block {
    width: 980px;
    margin: auto;
}

#header #header-top {
    position: relative;
    height: 120px;
    border-bottom: 1px dashed #868585;
}

#header #header-top #header-top-left {
    width: 220px;
    height: 100%;
    float: left;
}

#header #header-top #header-top-left #header-logo {
    position: absolute;
    top: 20px;
}

#header #header-top #header-top-center {
    width: 533px;
    height: 100%;
    float: left;
    position: relative;
}

#header #header-top #header-top-center .top-menu-l1-ul {
    position: absolute;
    top: 20px;
    left: 20px;
}

#header #header-top #header-top-center .top-menu-l1-li {
    height: 100%;
    float: left;
    font-size: 20px;
    margin-left: 20px;
    text-align: center;
}

#header #header-top #header-top-center .top-menu-l1-li:hover .top-menu-l2-ul {
    display: block;
}

#header #header-top #header-top-center .top-menu-l1-li a img {
    position: relative;
    top: 10px;
}

#header #header-top #header-top-center .top-menu-l1-li .top-menu-l2-ul {
    position: absolute;
    top: 70px;
    left: -240px;
    float: left;
    width: 980px;
    z-index: 5;
    display: none;
}

#header #header-top #header-top-center .top-menu-l1-li .top-menu-l2-ul .top-menu-l2-li {
    float: left;
    background: rgba(0, 0, 0, 0.95);
    width: 100%;
    padding: 15px 0px;
    border-bottom: 1px solid #3a3535;
}

#header #header-top #header-top-center .top-menu-l1-li .top-menu-l2-ul .arrow-up + .top-menu-l2-li {
    border-top: 2px solid #FF5722;
}
.arrow-up {
    width: 0px;
    height: 0px;
    margin: 0 auto;
    border: 0 solid #FF5722;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    border-width: 10px;
}
#arrow-up-1 {
     margin-left: 285px;
}
#arrow-up-2 {
    margin-left: 375px;
}
#arrow-up-3 {
    margin-left: 480px;
}
#arrow-up-4 {
    margin-left: 580px;
}
#arrow-up-5 {
    margin-left: 665px;
}
#header #header-top #header-top-center .top-menu-l1-li .top-menu-l2-ul .top-menu-l2-li a {
    width: 150px;
    line-height: 20px;
    text-align: left;
    margin: 5px 0px 5px 40px;
    float: left;
    color: #acc9ad;
    font-weight: bold;
    font-size: 13px;
    text-overflow: ellipsis;
}

#header #header-top #header-top-center .top-menu-l1-li .top-menu-l2-ul .top-menu-l2-li a:hover {
    color: #FF5722;
}

#header #header-top #header-top-center .top-menu-l1-li:last-child .top-menu-l2-ul .top-menu-l2-li a {
    width: 180px;
}

#header #header-top #header-top-right {
    width: auto;
    height: 100%;
    float: left;
}

#header #header-top #header-top-right #search-form {
    position: absolute;
    top: 60px;
    margin-left: 0px;
}

#header #header-top #header-top-right #search-form #search-input {
    width: 190px;
    height: 35px;
    background: #232323;
    border: 1px solid #544B4B;
    padding-left: 5px;
    color: #fff;
}
#wait-search-icon {
    display: none;
    position: absolute;
    top: 7px;
    right: 12px;
    width: 9px;
    height: 9px;
    z-index: 10;
    cursor: pointer;
}
#clean-text-search {
    display: none;
    position: absolute;
    top: 10px;
    right: 35px;
    width: 16px;
    height: 16px;
    z-index: 10;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #FF5722;
    border-bottom: 5px solid #FF5722;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#header #header-top #header-top-right #search-form #search-button {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 3px;
    right: 5px;
    border: none;
    background: url('/images/search-icon.png');
    cursor: pointer;
}

#content-body #content-top {
    position: relative;
    z-index: 1;
    float: left;
    width: 100%;
    line-height: 40px;
    border-bottom: 1px dashed #868585;
}

#content-body #content-top #content-top-left {
}

#content-body #content-top #content-top-left h2 {
    display: inline-table;
}

#content-body #content-top #content-top-left a {
    margin-right: 13px;
    text-transform: uppercase;
    color: #CDDC39;
    font-weight: bold
}

#content-body #content-top #content-top-right {
    color: #C0C0C0;
    background: url(/images/message-32.png) no-repeat 0px 4px;
    padding-left: 45px;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
}

#content-body #content-middle #content-middle-top {
    position: relative;
    /*padding-left: 15px;*/
    margin-bottom: 15px;
}

#content-body #content-middle #content-middle-top h2{
    text-transform: uppercase;
    padding: 20px 10px 20px 0px;
    color: #ffffff;
    text-align: center;
    font-size: 25px;
}

#content-body #content-middle #content-middle-top .caroufredsel_wrapper {
    width: 980px !important;
}

.movie-item .movie-item-status {
    position: absolute;
    top: 0px;
    padding: 5px;
    background: #770A02;
}
#content-middle-bottom .movie-server {
    top: 132px;
}
.movie-server {
    position: absolute;
    top: 156px;
    background: rgba(0, 0, 0, 0.86);
    padding: 5px;
    font-size: 11px;
}
.movie-item .movie-item-status * {
    font-size: 12px;
}

.movie-item .movie-item-titles {
    position: absolute;
    bottom: 3px;
    padding: 5px;
    width: 174px;
    height: 36px;
    background: rgba(0, 0, 0, 0.86);
}
.movie-item .movie-item-user {
    position: absolute;
    bottom: 48px;
    padding: 5px;
    width: 174px;
    background: rgba(0, 0, 0, 0.86);
    border-bottom: 1px solid;
    font-size: 9px;
}

.movie-item .movie-item-titles a:last-child {
    font-size: 10px;
    color: #FF9800;
    line-height: 25px;
}

.movie-item {
    position: relative;
    display: inline-table;
    margin-bottom: 10px;
}

.movie-item img {
    width: 184px;
    height: 250px;
    margin: 0px 15px 0px 0px;
}

.movie-item img.last-row {
    margin: 0px 0px 0px 0px;
}


a.carousel-prev, a.carousel-next {
    width: 35px;
    height: 55px;
    display: block;
    position: absolute;
    top: 50%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: #FF9800;
    cursor: pointer;
}

.content-middle-bottom-left-block a.carousel-prev, .content-middle-bottom-left-block a.carousel-next {
    visibility: hidden;
}

.content-middle-bottom-left-block:hover a.carousel-prev, .content-middle-bottom-left-block:hover a.carousel-next {
    visibility: visible;
}

a.carousel-prev {
    background-image: url("/images/icon_left.png");
    left: -10px;
}

a.carousel-prev:hover {
}

a.carousel-prev.disabled {
    background-position: 0 -100px !important;
}

a.carousel-next {
    right: -10px;
    background-image: url("/images/icon_right.png");
}

a.carousel-next:hover {
}

a.carousel-next.disabled {
    background-position: -50px -100px !important;
}

a.carousel-prev.disabled, a.carousel-next.disabled {
    cursor: default;
}

a.carousel-prev span, a.carousel-next span {
    display: none;
}

#content-body #content-middle #content-middle-middle {
    position: relative;
}

#content-body #content-middle #content-middle-middle .movie-list-item {
    /*padding: 12.1px;*/
}

#content-body #content-middle #content-middle-middle h4 {
    padding: 5px 10px;
    border-right: 1px dotted #3A3838;
    top: 9px;
    position: absolute;
    color: #FFEB3B;
    text-transform: uppercase;
    width: 42px;
    display: inline-table;
}

#content-body #content-middle #content-middle-middle .updated-time {
    color: #FF9800;
}

#content-body #content-middle #content-middle-middle .movie-item-more-info {
    position: absolute;
    top: 2px;
    right: 3px;
}

#content-body #content-middle #content-middle-middle .movie-item-more-info label {
    background: #770A02;
    padding: 2px 5px;
    color: #fff;
    font-size: 10px;
}
#content-body #content-middle #content-middle-middle #content-middle-middle-left, #content-body #content-middle #content-middle-middle #content-middle-middle-center, #content-body #content-middle #content-middle-middle #content-middle-middle-right {
    display: inline-table;
}

#content-body #content-middle #content-middle-middle #content-middle-middle-left, #content-body #content-middle #content-middle-middle #content-middle-middle-center {
    width: 100%;
}
#content-body #content-middle #content-middle-middle #content-middle-middle-left h3, #content-body #content-middle #content-middle-middle #content-middle-middle-center h3{
    width: 240px;
}
 #content-body #content-middle #content-middle-bottom #content-middle-bottom-right h3 {
    font-size: 13px;
    width: 190px;
    margin-left: 0px;
    font-weight: bold;
}
#content-body #content-middle #content-middle-middle h3 {
    width: 160px;
}
#content-body #content-middle #content-middle-middle #content-middle-middle-left img, #content-body #content-middle #content-middle-middle #content-middle-middle-center img {
    /*width: 20px;
    height: 20px;*/
}

#content-body #content-middle #content-middle-middle #content-middle-middle-left .movie-list-item, #content-body #content-middle #content-middle-middle #content-middle-middle-center .movie-list-item {
    position: relative;
    width: 31.1%;
    display: inline-table;
}

#content-body #content-middle #content-middle-middle #content-middle-middle-left .movie-item-info, #content-body #content-middle #content-middle-middle #content-middle-middle-center .movie-item-info {
    position: absolute;
    top: 10px;
    left: 70px;
    width: auto;
}

#content-body #content-middle #content-middle-middle .movie-list-item {
    border-right: 1px solid #353535;
}

#content-body #content-middle #content-middle-middle .movie-list-item {
    border-left: 1px solid #0D0D0D;
}

#content-body #content-middle #content-middle-middle .movie-list-item .movie-viewed {
    font-size: 10.5px;
    margin-top: 5px;
}

#content-body #content-middle #content-middle-middle #content-middle-middle-right {
    width: 280px;
    float: right;
    background: rgba(8, 8, 8, 0.53);
    padding: 1px;
}

#content-body #content-middle #content-middle-middle #content-middle-middle-right .movie-list-item, #content-body #content-middle #content-middle-bottom #content-middle-bottom-right .movie-list-item {
    min-height: 78px;
    padding: 10px;
}

#content-body #content-middle #content-middle-middle #content-middle-middle-right div {
}

#content-body #content-middle #content-middle-bottom {
    position: relative;
}

#content-body #content-middle #content-middle-bottom h2, .content-middle-middle-top h2{
    display: inline-table;
}

#content-body #content-middle #content-middle-bottom #content-middle-bottom-left, #content-body #content-middle #content-middle-bottom #content-middle-bottom-left .caroufredsel_wrapper {
    width: 670px !important;
    min-height: 468px;
}

#content-body #content-middle #content-middle-bottom #content-middle-bottom-left .content-middle-bottom-left-block {
    position: relative;
}

#content-body #content-middle #content-middle-middle #content-middle-middle-left h2, #content-body #content-middle #content-middle-middle #content-middle-middle-center h2,.content-middle-middle-top h2, #content-body #content-middle #content-middle-bottom #content-middle-bottom-left .content-middle-bottom-left-block .content-middle-bottom-left-block-header, #list-relation h2 {
    line-height: 60px!important;
    text-transform: uppercase;
    position: relative;
}

#content-body #content-middle #content-middle-middle #content-middle-middle-left h2 a, #content-body #content-middle #content-middle-middle #content-middle-middle-center h2 a, .content-middle-middle-top h2:first-child a, #content-body #content-middle #content-middle-bottom #content-middle-bottom-left .content-middle-bottom-left-block .content-middle-bottom-left-block-header h2:first-child a, #list-relation h2 a {
    font-size: 25px!important;
    margin-left: 0px;
}


.content-middle-middle-top h2:first-child {
    margin-left: 0px!important;
    line-height: 40px!important;
}
.content-middle-middle-top h2, #content-body #content-middle #content-middle-bottom #content-middle-bottom-left .content-middle-bottom-left-block .content-middle-bottom-left-block-header a {
    margin-left: 15px;
}

#content-body #content-middle #content-middle-bottom #content-middle-bottom-left .content-middle-bottom-left-block .content-middle-bottom-left-block-header h3 a {
    margin-top: 5px;
}

#content-body #content-middle #content-middle-bottom #content-middle-bottom-left .content-middle-bottom-left-block .content-middle-bottom-left-block-header label a {
    color: #FFC107;
}
.content-middle-middle-top .view-all {
    top: 25px;
}
.content-middle-middle-top label a {
    text-transform: uppercase;
}
#content-body #content-middle #content-middle-bottom #content-middle-bottom-left .content-middle-bottom-left-block .image-zoom {
}

#content-body #content-middle #content-middle-bottom #content-middle-bottom-left .movie-item img {
    width: 160px;
    height: 220px;
    margin: 6px 10px 0px 0px;
}

#content-body #content-middle #content-middle-bottom #content-middle-bottom-left .movie-item .movie-item-status {
    top: 6px;
}

#content-body #content-middle #content-middle-bottom #content-middle-bottom-left .movie-item .movie-item-user, #content-body #content-middle #content-middle-bottom #content-middle-bottom-left .movie-item .movie-item-titles {
    width: 150px;
}

#content-body #content-middle #content-middle-bottom #content-middle-bottom-right {
    position: absolute;
    top: 10px;
    right: 0px;
    width: 282px;
    height: 100%;
}
#content-body #content-middle #content-middle-bottom #content-middle-bottom-right h2{
    margin-right: 10px;
}

#content-body #content-middle #content-middle-bottom #content-middle-bottom-right .content-middle-bottom-right-block {
    background: rgba(8, 8, 8, 0.53);
    padding: 1px;
    position: relative;
}

h2[class*='block-header'] {
    margin: 5px 0px;
    line-height: 20px;
    display: inline-table!important;
}
.content-middle-middle-top {
    position: relative;
}
#content-body #content-middle #content-middle-bottom h2 a, #content-body #content-middle #content-middle-middle h2 a, .content-middle-middle-top h2 a {
    font-size: 14px;
}

#content-body #content-middle #content-middle-bottom h2 a[class^="filter-"], #content-body #content-middle #content-middle-middle h2 a[class^="filter-"] {
    font-size: 12px;
    color: #CDDC39;
    margin-left: 5px;
}

.movie-list .movie-list-item {
    padding: 10px;
    background: rgba(47, 46, 46, 0.63);
    border-bottom: 1px solid #3A3838;
    border-top: 1px solid #171616;
}

.movie-list img {
    width: 50px;
    height: 75px;
}

.movie-list .movie-item-info {
    float: right;
    width: 200px;
}

.movie-list .movie-item-info h3.movie-name-2, .movie-list .movie-item-info div {
    font-size: 12px;
    display: block;
    font-weight: normal;
    color: #9E9E9E;
    line-height: 20px;
}

.movie-list .movie-item-info div.movie-item-status {
    color: #FF9800;
}

#footer {
    background: rgba(0, 0, 0, 0.56);
    margin-top: 50px;
}

#footer #inner-footer {
    height: 50px;
}

#footer #copy-right {
    bottom: 0px;
    line-height: 50px;
    border-top: 1px solid #403E3E;
}

.list-movies {
}

.navigator {
    height: 30px;
    margin: 20px 0px;
    background: rgb(33, 46, 51);
}

.navigator h2, .list-movies .filter-order {
    line-height: 30px;
}

.navigator * {
    display: inline-block;
    padding: 0px 5px;
    font-size: 12px;
    text-transform: uppercase;
}

.navigator #filter-bar {
    float: right;
}

.list-movies .filter-order {
    float: left;
    position: relative;
    margin-left: 20px;
}

.list-movies .filter-order:hover .drop-list-holder {
    display: block;
}

.list-movies .filter-order label {
    font-size: 10px;
}

.list-movies .filter-order a {
    width: 100%;
    font-size: 11px;
    color: #E4E2D9;
    font-weight: bold;
}

.list-movies .filter-order .active, .list-movies .filter-order .active-text {
    color: #FF5722;
}

.list-movies .filter-order .drop-list-holder {
    display: none;
    position: absolute;
    min-width: 120px;
    left: -15px;
    z-index: 1;
    background: rgb(23, 30, 33);
    border-top: 5px solid #363f42;
}

.list-movies .filter-order:last-child .drop-list-holder {
    right: -5px;
    left: auto;
}

.tn-arr {
    display: block;
    width: 7px;
    height: 12px;
    background: url("http://kenh14cdn.com/web_images/try-k14-new-arr.png") no-repeat;
    position: absolute;
    top: 18px;
    left: -15px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

.tn-arr-1 {
    top: 12px;
    animation: tryArrow1 0.8s linear infinite;
}

.tn-arr-2 {
    top: 17px;
    animation: tryArrow2 0.8s linear infinite;
    animation-delay: 0.2s;
}

@keyframes tryArrow1 {
    from {
        right: 26px;
        opacity: 1
    }
    to {
        right: 23px;
        opacity: 0;
    }
}

.list-movies .movie-item {
    margin: 0px 15px 10px 0px;
}

.list-movies img {
    margin: 0px;
}

.mask-des {
    position: absolute;
    padding: 5px;
    top: 10px;
    right: 0px;
    background: #080808;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.view-more {
    width: 150px;
    margin: 20px auto;
    background: rgba(49, 48, 46, 0.67);
    padding: 10px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    text-transform: uppercase;
}

.view-more:hover {
    background: rgba(158, 158, 158, 0.44);
}

.view-more a {
    font-size: 20px;
}

.right-filter {
    position: fixed;
    top: 250px;
    right: 0px;
    width: 120px;
    height: 50px;
    background: rgba(51, 45, 45, 0.53);
    cursor: pointer;
}

.right-filter label {
    font-size: 15px;
    position: absolute;
    top: 15px;
    right: 15px;
    font-weight: bold;
    color: #E4E2D9;
    text-transform: uppercase;
    cursor: pointer;
}

.filter-hidden {
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 10000px;
    background: url("/images/pcb-background.gif");
}

.filter-hidden .top-menu-l1-ul {
    width: 980px;
    margin: auto;
}

.filter-hidden .top-menu-l1-li {
    float: left;
}

.filter-hidden .top-menu-l1-li:nth-child(1) {
    width: 580px;
}

.filter-hidden .top-menu-l1-li:nth-child(1) .top-menu-l2-li {
    width: 80px;
}

.filter-hidden .top-menu-l1-li:nth-child(2) {
    width: 360px;
    float: right;
}

.filter-hidden .top-menu-l1-li:nth-child(3), .filter-hidden .top-menu-l1-li:nth-child(4) {
    position: relative;
    width: 100%;
}

.filter-hidden .top-menu-l1-li:nth-child(3) ul, .filter-hidden .top-menu-l1-li:nth-child(4) ul {
    clear: both;
    height: 120px;
    width: 770px;
    overflow-y: auto;
    margin: 10px 0px;
    padding: 10px 0px;
    border: 1px solid rgb(45, 45, 45);
}

.filter-hidden .top-menu-l1-li:nth-child(3) ul .top-menu-l2-li, .filter-hidden .top-menu-l1-li:nth-child(4) ul .top-menu-l2-li {
    width: 103px;
}

.filter-hidden .top-menu-l1-li h4 {
    display: inline-block;
    margin: 20px 15px 0px;
    font-size: 14px;
    text-transform: uppercase;
    color: #F44336;
    font-family: 'Open Sans', sans-serif;
}

.filter-hidden .top-menu-l2-li {
    width: 90px;
    text-align: left;
    margin: 0px 15px;
    display: inline-block;
    color: #9E9E9E;
    font-weight: bold;
    font-size: 13px;
}

.filter-hidden .top-menu-l2-li a {
    cursor: pointer;
}

.filter-hidden .filter-hidden-input {
    width: 190px;
    height: 25px;
    background: #232323;
    border: 1px solid #544B4B;
    padding-left: 5px;
    color: #fff;
    top: 15px;
    right: 0px;
    position: absolute;
}

.filter-hidden #top-menu-l1-li-more .top-menu-l2-li {
    width: auto;
}

.filter-hidden .filter-buttons {
    float: right !important;
}

.filter-hidden .filter-buttons a {
    width: 100px;
    height: 100px;
    background: #FF5722;
    padding: 10px;
    margin: 10px;
    line-height: 100px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.filter-hidden .filter-matched {
    color: #FF5722;
    font-style: italic;
    font-size: 13px;
}

.list-movies #bottom-list {
    position: relative;
    width: 100%;
}

#search-retrieve-holder {
    position: absolute;
    z-index: 3;
    top: 100px;
    left: 510px;
    background: rgb(0, 0, 0);
}

.search-retrieve-no-data {
    left: 753px !important;
    width: 197px;
}

.search-retrieve-no-data #no-data-rs {
    margin: 5px;
}

.search-retrieve-no-data #no-data-rs span {
    display: block;
    line-height: 20px;
    color: #D4CFCF;
}

#ul-search {
    border: 5px solid #010101;
    width: 430px;
}

#ul-search .movie-list-item {
    background: rgba(0, 0, 0, 0.98);
}

.ul-li-search .block-search-items {
    overflow-y: auto;
    max-height: 90px;
}

#search-listMovies-retrieve .block-search-items {
    max-height: 300px !important;
}

.ul-li-search .movie-item-info {
    width: 335px;
}

.ul-li-search {
    background: rgb(33, 32, 32);
    width: 100%;
    display: inline-table;
}

.title-block-search {
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #2F2E2E;
}

#movie-search-all {
    display: inline-block;
    float: right;
}

#search-directors-retrieve a, #search-actors-retrieve a {
    width: 120px;
    margin: 5px 10px;
    line-height: 20px;
    display: inline-block;
}

input[type='radio'], input[type='checkbox'] {
    display: none;
}

input[type='checkbox']:checked + label {
    background-image: url(http://www.dailycoding.com/Uploads/2008/12/CheckBox.png);
    background-position: 0px 0px;
}

input[type='radio'] + label, input[type='checkbox'] + label {
    margin: 0px;
    clear: none;
    padding: 10px;
    cursor: pointer;
    background: url(http://www.dailycoding.com/Uploads/2008/12/CheckBox.png) left center no-repeat;
    background-position: -21px 0px;
    display: inline-block;
}

div[id*='-selected-holder'] {
    width: 195px;
    height: 120px;
    display: inline-block;
    position: absolute;
    top: 55px;
    overflow-x: auto;
    right: 0px;
}

div[id*='-selected-holder'] div {
    display: inline-block;
    padding: 3px 5px;
    margin: 2px;
    background: #232323;
}

div[id*='-selected-holder'] div label {
    padding-left: 5px;
    cursor: pointer;
}

.bottom-group {
    background: rgba(39, 38, 38, 0.45);
    padding: 10px 30px;
    margin: 5px 0px;
}

.bottom-group h3 {
    color: #fff;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.bottom-group h3 i:before {
    margin-top: -2px;
}

.bottom-group * {
    line-height: 20px;
    list-style-type: disc;
    color: #9E9E9E;
}

#detail-area {
    padding: 10px 20px;
}

#left-detail {
    margin-top: 10px;
    width: 300px;
    display: inline-table;
}

#left-top-detail {
    display: inline-table;
}

#left-bottom-detail > div {
    text-align: justify;
}

#left-top-detail img {
    width: 100%;
    height: 484px;
}

#right-detail {
    width: 620px;
    float: right;
}

#right-detail img {
    width: 100%!important;
}

#right-top-detail {
}

#right-top-detail h1 {
    line-height: normal;
    margin: 1px 0px 10px;
}

#right-top-detail a {
    color: #607D8B;
}

#right-bottom-detail {
    max-height: 295px;
    overflow: auto;
    padding-right: 15px;
    border: 10px solid rgba(0, 0, 0, 0.46);
    background: rgba(0, 0, 0, 0.87);
}

#right-bottom-detail > div{
    margin-top: -15px;
    text-align: justify;
}

#right-bottom-detail h3 {
    display: none;
}

#viewed-aria {
    float: right;
    margin-top: 20px;
}
#viewed-aria #viewed-number{
    display: inline-table;
    margin: -10px 10px;
    font-size: 14px;
    color: #fff;
}

#social-holder {
    float: left;
    margin-top: 16px;
}
.watch-movie-bt, .watch-trailer-bt {
    padding: 6px;
    background: rgba(0, 0, 0, 0.86);
    color: #fff!important;
    text-decoration: none!important;
    font-size: 14px;
}
.pcb-tooltip-bottom .watch-movie-bt, .pcb-tooltip-bottom .watch-trailer-bt {
    background: #770A02;
}
.pcb-tooltip-top label {
   float: left;
    min-width: 70px;
}

.pcb-tooltip-top div div {
    width: 82%;
    display: inline-block;
}

.pre-view-holder video {
    width: 100%;
    height: 100%;
    background: transparent;
    cursor: pointer;
}
.pre-view-holder {
	display: none;/*  Uncomment to display preview video */
    background: #000000;
    padding: 10px;
    margin-bottom: 10px;
    height: 200px;
}
.pre-view-holder p {
    color: #fff;
    font-weight: bold;
}
#video-loading {
    width: 20px;
    height: 20px;
    margin: 10px auto;
    padding: 10px;
}
.view-all {
    position: absolute;
    right: 10px;
    top: 5px;
}

.view-all a{
    font-size: 12px!important;
    color: #FFC107;
}
.list-top-host {
    width: 49.5%;
    display: inline-table;
}
.list-top-host .movie-list {
    display: inline-block;
    height: 360px!important;
    overflow-y: scroll;
}

.list-top-host:nth-child(2) {
    float: right;
}

.list-top-host .movie-list .movie-list-item {
    padding: 5px;
    float: left;
    width: 47%;
}
.list-top-host .movie-list .movie-item-info {
    float: right;
    width: 165px;
}

.list-top-host .movie-list .movie-item-info h3{
    width: auto;
    margin: 0px;
}

.list-top-host .movie-list-item .movie-viewed {
     margin-top: 0px!important;
}

.list-top-host .movie-list-item .movie-item-status *, .list-top-host .movie-list .movie-list-item .movie-viewed * {
   font-size: 10px;
}

#group-container{
   text-align: right;
}
#group-container a{
    margin: 20px;
    font-size: 16px;
    line-height: 60px;
    text-transform: uppercase;
}
.group-active {
    color: #FFC107;
    font-weight: bold;
}